*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Makes 1rem = 10px, useful for accessibility and responsive design */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    /* 1.6rem = 16px, the default browser size */
    /* Add global font family, colors, etc. here */
}

#box {
    height: 100px;
    width: 100px;
    background-color: red;
}